{% extends 'superbase.html' %}
{% block body %}
    <section class="navbar navbar-default navbar-static-top">
        <nav class="container">
            <a class="navbar-brand" href="{% url 'userlist' %}">Govnoblog 2.0</a>
            <menu class="nav navbar-nav">
                <li>
                    <a href="{% url 'userlist' %}">
                        <span class="glyphicon glyphicon-list"></span>
                        Users
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'newpost' %}">
                        <span class="glyphicon glyphicon-edit"></span>
                        New post
                    </a>
                </li>
                <li>
                    <a href="{% url 'postlist' username=user.get_username %}">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        My posts
                    </a>
                </li>
                <li>
                    <a href="{% url 'django.contrib.auth.views.logout' %}">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Log out
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'django.contrib.auth.views.login' %}">
                        <span class="glyphicon glyphicon-log-in"></span>
                        Sign in
                    </a>
                </li>
                {% endif %}
            </menu>
        </nav>
    </section>
    <section class="container">
        <h1 class="page-header">{% block title %}{% endblock %}</h1>
        {% block content %}
        {% endblock %}
    </section>
{% endblock %}

